{% extends "news/layout.html" %}

{% block body %}
<div class="container my-5">
    {% if request.user.is_authenticated %}
        {% if profile_user.id == current_user.id %}
            <h1 class="text-center mt-3"><i><span class="px-3" style="background-color: rgba(168, 52, 52, 0.534);border-radius: 15px;">~ My Articles ~</span></i></h1>
        {% else %}
            <h1 class="text-center mt-3"><i><span class="px-3" style="background-color: rgba(168, 52, 52, 0.534);border-radius: 15px;">~ Articles by {{profile_user.username}} ~</span></i></h1>
        {% endif %}
        {% if profile_user.id == current_user.id %}
            <div class="container justify-content-center">
                <h1 class="text-center mt-5"><b style="color: orangered;text-shadow: 3px 3px rgb(255, 255, 255);">Unpublished Articles</b></h1>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for article in unpublishedArticles %}
                <div class="col">
                    <div class="card border-dark mt-5">
                        <div class="card-header text-center">{{ article.category }}</div>
                        <div class="card-body text-dark">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text article content">{{ article.content }}</p>
                            <a href="{% url 'article' article.title %}" class="btn btn-secondary mb-3">Read More</a>
                            <div class="card-footer">
                                <small class="text-muted">Created by <i>{{ article.author.name }} </i></small>
                                <small class="text-muted text-end"><i>--- {{ article.created }}</i></small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="container justify-content-center">
                <h1 class="text-center mt-5"><b style="color: rgb(139, 54, 173);text-shadow: 3px 3px rgb(255, 255, 255);">Published Articles</b></h1>
            </div>
        {% endif %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for article in articles %}
            <div class="col">
                <div class="card border-dark mt-5">
                    <div class="card-header text-center">{{ article.category }}</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text article content">{{ article.content }}</p>
                        <a href="{% url 'article' article.title %}" class="btn btn-secondary mb-3">Read More</a>
                        <div class="card-footer">
                            <small class="text-muted">Created by <i>{{ article.author.name }} </i></small>
                            <small class="text-muted text-end"><i>--- {{ article.created }}</i></small>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="container justify-content-center">
                <h1 class="text-center mt-5" style="padding: 10vh 0px 20vh 0px;color: rgb(206, 47, 47);text-shadow: 3px 3px rgb(255, 255, 255);"><b>No current articles</b></h1>
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

{% if articlesNum > 15 %}
{% include "news/pagination.html" %}
{% endif %}

{% endblock %}