{% extends "news/layout.html" %}

{% block body %}

    <div class="container-xxl">
        <h2 class="text-center my-3"><i>~ Register ~</i></h2>
        <div class="row mb-b justify-content-center">

            {% if message %}
                <div class="alert alert-light text-center" role="danger"><b style="color:red;">{{ message }}</b></div>
            {% endif %}

            <div class="col-md-6 py-5">
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <input class="form-control" autofocus type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control mb-3" type="email" name="email" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input class="form-control mb-3" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-group pb-3">
                        <input class="form-control mb-3" type="password" name="confirmation" placeholder="Confirm Password">
                    </div>
                    <div class="text-center">
                        <input class="btn btn-danger mb-5" type="submit" value="Register">
                    </div>
                </form>
                <div class="text-center justify-content-center log-reg-div">
                    Already have an account? <button class="btn btn-danger btn-sm"><a href="{% url 'login' %}">Login here.</a></button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}